<a href="https://colab.research.google.com/github/vincent-grari/DIVERS/blob/main/Clara.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [103]:
from matplotlib import pyplot as plt
import pandas as pd
import torch
import torch.nn as nn
import torch.nn.functional as F
import sklearn as sk
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, MaxAbsScaler
from sklearn.metrics import accuracy_score, roc_auc_score
from sklearn.utils.class_weight import compute_class_weight
from sklearn.tree import DecisionTreeRegressor 
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.ensemble import GradientBoostingRegressor
import numpy as np
from sklearn.metrics import accuracy_score
import torch
import torch.nn as nn
import torch.nn.functional as F
from torch.autograd import Variable
import sys
print(sys.argv)
import os
import urllib
import os.path
import sklearn.preprocessing as preprocessing
from collections import namedtuple
import pandas as pd

['/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py', '-f', '/root/.local/share/jupyter/runtime/kernel-ec1d182b-e3b1-4021-8285-99a785811de8.json']

In [104]:
pip install --upgrade scikit-learn

Requirement already up-to-date: scikit-learn in /usr/local/lib/python3.7/dist-packages (0.24.2)
Requirement already satisfied, skipping upgrade: scipy>=0.19.1 in /usr/local/lib/python3.7/dist-packages (from scikit-learn) (1.4.1)
Requirement already satisfied, skipping upgrade: numpy>=1.13.3 in /usr/local/lib/python3.7/dist-packages (from scikit-learn) (1.19.5)
Requirement already satisfied, skipping upgrade: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn) (1.0.1)
Requirement already satisfied, skipping upgrade: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn) (2.1.0)

In [105]:
!wget "http://grarivincent.com/research/baseINSEE.csv"

--2021-06-29 14:24:48--  http://grarivincent.com/research/baseINSEE.csv
Resolving grarivincent.com (grarivincent.com)... 217.160.0.183, 2001:8d8:100f:f000::2ce
Connecting to grarivincent.com (grarivincent.com)|217.160.0.183|:80... connected.
HTTP request sent, awaiting response... 200 OK
Length: 5107089 (4.9M) [text/csv]
Saving to: ‘baseINSEE.csv.3’

baseINSEE.csv.3     100%[===================>]   4.87M  3.77MB/s    in 1.3s

2021-06-29 14:24:49 (3.77 MB/s) - ‘baseINSEE.csv.3’ saved [5107089/5107089]

In [106]:
baseINSEE = (pd.read_csv("baseINSEE.csv", #names=column_names,
                    sep=r'\s*;\s*', engine='python', na_values=['NA']))

In [107]:
baseINSEE['pol_insee_code']= baseINSEE['code_commune_INSEE']

In [108]:
import sys, os
sys.path.append(os.path.abspath(os.path.join('../..')))
def load_ICU_Pricing(path):
    #column_names = ["CalYear","Gender","Type","Category","Occupation","Age","Group1","Bonus","Poldur","Value","Adind","SubGroup2","Group2","Density","Y"]
    #input_data = (pd.read_csv(path, #names=column_names,
    #                           sep=r',', engine='python', keep_default_na=False, na_values=['NA']))
    
    path = "http://grarivincent.com/research/db4ModelFull2.csv"
    input_data = (pd.read_csv(path, #names=column_names,
                                sep=r',', engine='python', na_values=['NA']))
    input_data=input_data.drop(columns=['Unnamed: 0'])
    
    base=baseINSEE
    base = base[~base.pol_insee_code.str[:2].isin(["2A","2B"])]
    base["pol_insee_code"] = base["pol_insee_code"].astype(int)
    base_nd =  base.drop_duplicates(subset=['pol_insee_code'])

    input_data = input_data.drop_duplicates()
    input_data = input_data[~input_data.pol_insee_code.str[:2].isin(["2A","2B"])]
    input_data["pol_insee_code"] = input_data["pol_insee_code"].astype(int)

    input_data = input_data.merge(base_nd, how='inner', on="pol_insee_code")
    #input_data = input_data[input_data['claim_amount']<=5000]
    #input_data=input_data[input_data['claim_amount']!=0]
   
    #
    sensitive_attribs = ['Age']
    print(input_data.shape)
    G0 = (input_data.iloc[:, 37:180]) #137])
    #Z0 = pd.concat(Z0,input_data['long'])
    G0=G0.select_dtypes([np.number])
    G0 = G0.fillna(G0.mean())
    G=G0
    #Z = (Z0
    #    .drop(columns=['"REG"'
    #                   ])
    #    .fillna('Unknown').pipe(pd.get_dummies))

    y = input_data['claim_amount']
    E  = input_data['exposure']
    #I = input_data["pol_insee_code"]
    I = input_data[['pol_insee_code','latitude','longitude']]

    # features; note that the 'target' and sentive attribute columns are dropped
    X0 = input_data.iloc[:, 4:32]
    
    X = (X0
          .drop(columns=['pol_coverage','pol_insee_code'])
          .fillna('Unknown').pipe(pd.get_dummies))
    INSEE = input_data.iloc[:, 36]
    print(f"features X: {X.shape[0]} samples, {X.shape[1]} attributes")
    print(f"targets y: {y.shape[0]} samples")
    print(f"sensitives E: {E.shape[0]} samples, {E.shape[0]} attributes")
    return X, y, G, E, I

X, y, G, E, I =load_ICU_Pricing("http://grarivincent.com/research/db4modelfull3.csv")

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  from ipykernel import kernelapp as app

(98417, 151)
features X: 98417 samples, 1168 attributes
targets y: 98417 samples
sensitives E: 98417 samples, 98417 attributes

In [109]:
X

       pol_bonus  pol_duration  ...  vh_make_new_TOYOTA  vh_make_new_VOLKSWAGEN
0            0.5            29  ...                   0                       0
1            0.5            12  ...                   0                       0
2            0.5             3  ...                   0                       0
3            0.5             2  ...                   0                       0
4            0.5            13  ...                   0                       1
...          ...           ...  ...                 ...                     ...
98412        0.5             1  ...                   0                       0
98413        0.5             5  ...                   0                       0
98414        0.5             6  ...                   0                       0
98415        0.5             7  ...                   0                       0
98416        0.5            25  ...                   0                       0

[98417 rows x 1168 columns]

In [110]:
G.shape

(98417, 90)

In [111]:
(y!=0).sum()

11025

In [112]:
X=X[y>0]
G=G[y>0]
E=E[y>0]
I=I[y>0]
y=y[y>0]

In [113]:
y.mean()

1107.7378757369586

In [114]:
X.shape

(11025, 1168)

In [115]:
(y>0).mean()

1.0

In [116]:
y.mean()

1107.7378757369586

In [117]:
G= G.iloc[:, :-5]

In [118]:
X_train, X_test, y_train, y_test, G_train, G_test, E_train, E_test, I_train, I_test  = train_test_split(X, y, G, E, I, test_size=0.2, random_state=7)

In [119]:
scaler = StandardScaler().fit(X_train)
scale_df = lambda df, scaler: pd.DataFrame(scaler.transform(df), columns=df.columns, index=df.index)
X_train = X_train.pipe(scale_df, scaler) 
X_test = X_test.pipe(scale_df, scaler)

In [120]:
scalerg = StandardScaler().fit(G_train)
scale_df_g = lambda df, scaler: pd.DataFrame(scalerg.transform(df), columns=df.columns, index=df.index)
G_train = G_train.pipe(scale_df_g, scalerg) 
G_test = G_test.pipe(scale_df_g, scalerg)

In [121]:
y_traint =np.expand_dims(y_train,axis=1)
y_testt =np.expand_dims(y_test,axis=1)

In [122]:
from sklearn import linear_model

### **GLM POISSON SANS ZONIER **

In [123]:
from sklearn import linear_model
reg = linear_model.GammaRegressor() 
reg.fit(X_train,y_train)

GammaRegressor()

In [124]:
def EDR_GAMMA(yhat, y):
  #loss=torch.mean(torch.exp(xbeta)-y*xbeta)
  #loss=torch.mean(yhat-y*torch.log(yhat))
  eps=0.000000000001
  res=1-np.mean(-np.log(y/yhat)+(y-yhat)/yhat)/np.mean(-np.log(y/np.mean(y))+(y-np.mean(y))/np.mean(y))
  return res

def gini_coefficient(x):
    """Compute Gini coefficient of array of values"""
    diffsum = 0
    for i, xi in enumerate(x[:-1], 1):
        diffsum += np.sum(np.abs(xi - x[i:]))
    return diffsum / (len(x)**2 * np.mean(x))

In [125]:
print(" GINI train : ", gini_coefficient(reg.predict(X_train)))
print(" GINI test : ", gini_coefficient(reg.predict(X_test)))
print(" EDR POIS train : ", EDR_GAMMA(reg.predict(X_train),y_train))
print(" EDR POIS test : ", EDR_GAMMA(reg.predict(X_test),y_test))
MSE_Poi_tr =  ((reg.predict(X_train)-y_train)**2).mean()
MSE_Poi_test =  ((reg.predict(X_test)-y_test)**2).mean()
print(" MSE Poi train : ", MSE_Poi_tr)
print(" MSE Poi test : ", MSE_Poi_test)

 GINI train :  0.10070031409441398
 GINI test :  0.09942786904759496
 EDR POIS train :  0.07213321146505158
 EDR POIS test :  0.007717492240731261
 MSE Poi train :  3232115.926246228
 MSE Poi test :  19714604.386624306

In [127]:
reg.predict(X_train)

array([1194.93135431, 1037.87358184, 1014.1938358 , ...,  991.20866891,
       1057.77039815, 1086.86686048])

In [128]:
reg.score(X_train,y_train)

0.07213321146504448

In [129]:
X_train.shape

(8820, 1168)

In [131]:
import sys, os
sys.path.append(os.path.abspath(os.path.join('../..')))
def load_ICU_Pricing(path):
    #column_names = ["CalYear","Gender","Type","Category","Occupation","Age","Group1","Bonus","Poldur","Value","Adind","SubGroup2","Group2","Density","Y"]
    #input_data = (pd.read_csv(path, #names=column_names,
    #                           sep=r',', engine='python', keep_default_na=False, na_values=['NA']))
    
    path = "http://grarivincent.com/research/db4ModelFull2.csv"
    input_data = (pd.read_csv(path, #names=column_names,
                                sep=r',', engine='python', na_values=['NA']))
    input_data=input_data.drop(columns=['Unnamed: 0'])
    
    base=baseINSEE
    base = base[~base.pol_insee_code.str[:2].isin(["2A","2B"])]
    base["pol_insee_code"] = base["pol_insee_code"].astype(int)
    base_nd =  base.drop_duplicates(subset=['pol_insee_code'])

    input_data = input_data.drop_duplicates()
    input_data = input_data[~input_data.pol_insee_code.str[:2].isin(["2A","2B"])]
    input_data["pol_insee_code"] = input_data["pol_insee_code"].astype(int)

    input_data = input_data.merge(base_nd, how='inner', on="pol_insee_code")
    #input_data = input_data[input_data['claim_amount']<=5000]
    #input_data=input_data[input_data['claim_amount']!=0]
   
    #
    sensitive_attribs = ['Age']
    print(input_data.shape)
    G0 = (input_data.iloc[:, 37:180]) #137])
    #Z0 = pd.concat(Z0,input_data['long'])
    G0=G0.select_dtypes([np.number])
    G0 = G0.fillna(G0.mean())
    G=G0
    #Z = (Z0
    #    .drop(columns=['"REG"'
    #                   ])
    #    .fillna('Unknown').pipe(pd.get_dummies))

    y = input_data['claim_nb']
    E  = input_data['exposure']
    #I = input_data["pol_insee_code"]
    I = input_data[['pol_insee_code','latitude','longitude']]

    # features; note that the 'target' and sentive attribute columns are dropped
    X0 = input_data.iloc[:, 4:32]
    
    X = (X0
          .drop(columns=['pol_coverage','pol_insee_code'])
          .fillna('Unknown').pipe(pd.get_dummies))
    INSEE = input_data.iloc[:, 36]
    print(f"features X: {X.shape[0]} samples, {X.shape[1]} attributes")
    print(f"targets y: {y.shape[0]} samples")
    print(f"sensitives E: {E.shape[0]} samples, {E.shape[0]} attributes")
    return X, y, G, E, I

X, y, G, E, I =load_ICU_Pricing("http://grarivincent.com/research/db4modelfull3.csv")

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  from ipykernel import kernelapp as app

(98417, 151)
features X: 98417 samples, 1168 attributes
targets y: 98417 samples
sensitives E: 98417 samples, 98417 attributes

In [133]:
path = "http://grarivincent.com/research/db4ModelFull2.csv"
input_data = (pd.read_csv(path, #names=column_names,
                            sep=r',', engine='python', na_values=['NA']))
input_data=input_data.drop(columns=['Unnamed: 0'])

base=baseINSEE
base = base[~base.pol_insee_code.str[:2].isin(["2A","2B"])]
base["pol_insee_code"] = base["pol_insee_code"].astype(int)
base_nd =  base.drop_duplicates(subset=['pol_insee_code'])

input_data = input_data.drop_duplicates()
input_data = input_data[~input_data.pol_insee_code.str[:2].isin(["2A","2B"])]
input_data["pol_insee_code"] = input_data["pol_insee_code"].astype(int)

input_data = input_data.merge(base_nd, how='inner', on="pol_insee_code")
X0_f = input_data.iloc[:, 4:32]

X_f = (X0_f
      .drop(columns=['pol_coverage','pol_insee_code'])
      .fillna('Unknown').pipe(pd.get_dummies))

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [134]:
G= G.iloc[:, :-5]

In [135]:
X_train, X_test, y_train, y_test, G_train, G_test, E_train, E_test, I_train, I_test  = train_test_split(X, y, G, E, I, test_size=0.2, random_state=7)

In [136]:
scaler = StandardScaler().fit(X_train)
scale_df = lambda df, scaler: pd.DataFrame(scaler.transform(df), columns=df.columns, index=df.index)
X_train = X_train.pipe(scale_df, scaler) 
X_test = X_test.pipe(scale_df, scaler)
X_f = X_f.pipe(scale_df, scaler)

In [137]:
scalerg = StandardScaler().fit(G_train)
scale_df_g = lambda df, scalerg: pd.DataFrame(scalerg.transform(df), columns=df.columns, index=df.index)
G_train = G_train.pipe(scale_df_g, scalerg) 
G_test = G_test.pipe(scale_df_g, scalerg)

In [138]:
y_traint =np.expand_dims(y_train,axis=1)
y_testt =np.expand_dims(y_test,axis=1)

### **GLM POISSON SANS ZONIER **

In [139]:
# ICI il n'y a que des expsures en 1 d'ou l'offset (log(expo)) non présent 
from sklearn import linear_model
clf = linear_model.PoissonRegressor() 
clf.fit(X_train,y_train)

PoissonRegressor()

In [140]:
def EDR_POIS(yhat, y):
  #loss=torch.mean(torch.exp(xbeta)-y*xbeta)
  #loss=torch.mean(yhat-y*torch.log(yhat))
  eps=0.000000000001
  res=1-np.mean((y*np.log((y+eps)/yhat)-(y-yhat)))/np.mean((y*np.log((y+eps)/np.mean(y))))
  return res

def gini_coefficient(x):
    """Compute Gini coefficient of array of values"""
    diffsum = 0
    for i, xi in enumerate(x[:-1], 1):
        diffsum += np.sum(np.abs(xi - x[i:]))
    return diffsum / (len(x)**2 * np.mean(x))

In [141]:
print(" GINI train : ", gini_coefficient(clf.predict(X_train)))
print(" GINI Poi test : ", gini_coefficient(clf.predict(X_test)))
print(" EDR POIS train : ", EDR_POIS(clf.predict(X_train),y_train))
print(" EDR POIS test : ", EDR_POIS(clf.predict(X_test),y_test))
MSE_Poi_tr =  ((clf.predict(X_train)-y_train)**2).mean()
MSE_Poi_test =  ((clf.predict(X_test)-y_test)**2).mean()
print(" MSE Poi train : ", MSE_Poi_tr)
print(" MSE Poi test : ", MSE_Poi_test)

 GINI train :  0.08660650208503035
 GINI Poi test :  0.08672764768037573
 EDR POIS train :  0.026278388992110213
 EDR POIS test :  0.02151244397947283
 MSE Poi train :  0.13392113526321742
 MSE Poi test :  0.13262211736790874

In [142]:
FREQ = clf.predict(X_train)
CM= reg.predict(X_train)

In [143]:
FREQ

array([0.11865199, 0.13119345, 0.12771253, ..., 0.11926551, 0.13316271,
       0.1625666 ])

In [144]:
CM

array([ 857.87415714, 1001.55870427, 1036.43410264, ..., 1382.45637353,
       1105.0085487 , 1159.50573026])

In [145]:
X_final=input_data

In [146]:
X_final['FREQ'] = clf.predict(X_f)
X_final['CM'] = reg.predict(X_f)
X_final['PP'] = X_final['FREQ']*X_final['CM']

In [147]:
X_final['PP'].mean()

132.52708196599963

In [148]:
input_data['claim_amount'].mean()

124.09248483493673

In [149]:
input_data

       id_client id_vehicle      id_policy  ...      FREQ           CM          PP
0      A00000001        V01  A00000001-V01  ...  0.110011  1131.664449  124.495267
1      A00019002        V01  A00019002-V01  ...  0.128139   932.144334  119.443991
2      A00000002        V01  A00000002-V01  ...  0.156834  1539.875546  241.504162
3      A00007764        V01  A00007764-V01  ...  0.138263  1161.157633  160.544962
4      A00011017        V01  A00011017-V01  ...  0.140507  1138.897794  160.022928
...          ...        ...            ...  ...       ...          ...         ...
98412  A00091439        V03  A00091439-V03  ...  0.138131  1086.678124  150.103701
98413  A00091458        V01  A00091458-V01  ...  0.102333   847.723088   86.750226
98414  A00091462        V01  A00091462-V01  ...  0.087131   825.545357   71.930597
98415  A00091467        V01  A00091467-V01  ...  0.122190   872.940379  106.664221
98416  A00091482        V01  A00091482-V01  ...  0.106476  1163.023996  123.833981

[98417 rows x 154 columns]

In [150]:
X_final.shape

(98417, 154)

In [151]:
input_data

       id_client id_vehicle      id_policy  ...      FREQ           CM          PP
0      A00000001        V01  A00000001-V01  ...  0.110011  1131.664449  124.495267
1      A00019002        V01  A00019002-V01  ...  0.128139   932.144334  119.443991
2      A00000002        V01  A00000002-V01  ...  0.156834  1539.875546  241.504162
3      A00007764        V01  A00007764-V01  ...  0.138263  1161.157633  160.544962
4      A00011017        V01  A00011017-V01  ...  0.140507  1138.897794  160.022928
...          ...        ...            ...  ...       ...          ...         ...
98412  A00091439        V03  A00091439-V03  ...  0.138131  1086.678124  150.103701
98413  A00091458        V01  A00091458-V01  ...  0.102333   847.723088   86.750226
98414  A00091462        V01  A00091462-V01  ...  0.087131   825.545357   71.930597
98415  A00091467        V01  A00091467-V01  ...  0.122190   872.940379  106.664221
98416  A00091482        V01  A00091482-V01  ...  0.106476  1163.023996  123.833981

[98417 rows x 154 columns]

In [156]:
X_final=input_data.iloc[:, 4:32]

In [157]:
X_final['FREQ'] = clf.predict(X_f)
X_final['CM'] = reg.predict(X_f)
X_final['PP'] = X_final['FREQ']*X_final['CM']

In [158]:
X_final.shape

(98417, 31)

In [159]:
X_final.to_csv('final.csv', header=True, index=None, sep=';')